#body {
    font-family: 'Times New Roman';
    background-color: #f0f1f4;
}

#menu {
    background-color: white;
    border-top: #6ea8c1;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
}
#menu li
{
    float:left;
    list-style-type:none;
}
#menu li a
{
    text-decoration:none;
    line-height:20px;
    color:black;
    padding:20px;
    display:block;
    transition:200ms all;
}
#menu li a:hover
{
    border-top:#6ea8c1 solid 20px;
}
.logo
{
    float:left;
    width:100px;
    height:100px;
    margin-right:7%;
}
.sayfa
{
    width:1850px;
    margin:0 auto;
}
.sliderkonum
{
    position:relative;
    width:1850px;
    height:800px;
    overflow:hidden;
}
.img-bir
{
    left:0px;
}
.img-iki 
{
    left: 1850px;
}
.img-uc 
{
    left: 3700px;
}

.sliderkonum > .slider
{
    position:absolute;
    left:0px;
    width:5550px;
    height:800px;
    -webkit-animation-duration:10s;
    -webkit-animation-name:sliders;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-duration:10s;
    -moz-animation-name:sliders;
    -moz-animation-iteration-count:infinite;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
.sliderkonum>.slider:hover
{
    -webkit-animation-play-state:paused;
}
@-webkit-keyframes sliders
{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:-1850px;}
    30%{left:-1850px;}
    40%{left:-3700px;}
    50%{left:-3700px;}
}
@-moz-keyframes sliders
{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:-1850px;}
    30%{left:-1850px;}
    40%{left:-3700px;}
    50%{left:-3700px;}
}
@keyframes sliders
{
    0%{left:0px;}
    10%{left:0px;}
    20%{left:-1850px;}
    30%{left:-1850px;}
    40%{left:-3700px;}
    50%{left:-3700px;}
}
.yazi1 
{
    margin-left: 30%;
    margin-right: 30%;
}
.yazi3{
    width:40%;
    margin-right:5%;
    margin-left:2%;
    margin-top:2%;
    font-size:20px;
    float:right;
    color:white;
}
.prgf {
    float:left;
    width: 50%;
    height: 50%;
    font-size: 25px;
    background-color: #6ea8c1;
    margin-left: 5%;
    margin-top: 3%;
    border-style: dotted;
    border-color: whitesmoke;
    color:white;
}
.solresim {
    float: left;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 1%;
}
.renkli {
    float:left;
    background-color: #6ea8c1;
    width:101%;
    margin-bottom:5%;
}
.sagresim
{
    float:right;
    margin-top:2%;
    margin-right:4%;
    margin-left:1%;
}
#tedaviler
{
    width:100%;
    height:auto;
    display:flex;
}
.sol 
{
    float: left;
    margin-top: 2%;
    margin-left: 9%;
    margin-right:5%;
    width:25%;
    height:10%;
    clear:both;
}
.sag 
{
    float: right;
    margin-top: 2%;
    margin-left:5%;
    width: 25%;
    height: 10%;
    clear: both;
}
.aralik {
    background-color: #6ea8c1;
    margin-top: 5%;
    color: white;
    border-style: dotted;
    border-color: whitesmoke;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer {
    background-color: #6ea8c1;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: white;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: gray;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
.islem {
    float: left;
    background-color: #6ea8c1;
    width: 400px;
    height: 200px;
    margin-left: 3%;
    border-style: dotted;
    border-color: whitesmoke;
}
.islem2 {
    float: left;
    background-color: #6ea8c1;
    width: 500px;
    height: 400px;
    margin-left: 5%;
    margin-top: 2%;
    border-style: dotted;
    border-color: whitesmoke;
}
.hekimkutu {
    margin-top: 13.6%;
    position: absolute;
    background-color: #6ea8c1;
    width: 16.2%;
    height: 5%;
}
.giris {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 40%;
    width: 50%;
    height: 50%;
    background: #6ea8c1;
    color:white;
}


